# Account and user credentials
API_TOKEN="cfat_oi890sdf90sd8dfgjfgjfgjypdfg1dfgdfYOb0Xxaf405b52"
API_KEY="cfk_m2o2o2kj2bm4,m4jkjhsuioxv90v78sgjio2njljsf266014"
API_EMAIL="example@example.com"

# Per domain
ZONE_NAME="example.com"
RECORD_NAME="www.example.com"
TTL=60
